@model GenDdlSampleCoreMvc.Models.CityViewModel

@{
    ViewData["Title"] = "Create";
    var countryList = @ViewBag.Countries;
    }

    <h1>Create</h1>

    <h4>City</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>

                    <select asp-for="CountryId" asp-items="Model.Countries" class="form-control"></select>

                    @*@Html.DropDownList("Country", new SelectList(@ViewBag.Countries, "Id", "Name"), "-- Select --", new { @class = "form-control" })*@
                    @*<select asp-for="Country"
                asp-items="@ViewBag.Countries"
                class="form-control">
            <option selected="selected" value="">Please select</option>
        </select>*@
                    @*<select asp-for="Country"
                asp-items="Html.GetEnumSelectList<Country>()"
                class="form-control">
            <option selected="selected" value="">Please select</option>
        </select>*@

                    @*@Html.DropDownList("Country",
        Html.GetEnumSelectList<Country>(),
        "Select Type",new { @class = "form-control" })*@
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Denomym" class="control-label"></label>
                    <input asp-for="Denomym" class="form-control" />
                    <span asp-validation-for="Denomym" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
